{% extends "layout.html" %} {% block title %}Unit Converter -
Temperature{% endblock %} {% block content %}
<form action="/temperature" method="post">
  <input type="number" name="value" id="temp_input" />
  <select name="unitFrom" id="unit_from">
    {% for unit in units%}
      {% if unit == "c"%}
      <option value="{{unit}}" selected>{{unit}}</option>
      {% endif %}
    <option value="{{unit}}">{{unit}}</option>
    {% endfor %}
  </select>
  <select name="unitTo" id="unit_to">
    {% for unit in units%}
      {% if unit == "f"%}
      <option value="{{unit}}" selected>{{unit}}</option>
      {% endif %}
    <option value="{{unit}}">{{unit}}</option>
    {% endfor %}
  </select>
  <button type="submit">CONVERT</button>
</form>
{% endblock %}
